<li class="external-link"><a href="https://twitter.com/LoyaltyLionHQ"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://www.facebook.com/LoyaltyLionHQ"><i class="fa fa-facebook"></i> Facebook</a></li>
<li class="external-link"><a href="https://github.com/LoyaltyLion"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/profile/view?id=125889251"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
